// Styling for the header and footer social icons
.header__nav a:hover img,
.footer__nav a:hover img{
    opacity: 1;
    transform: scale(1.1);
    filter: drop-shadow(0 4px 10px rgba($green, 0.6)) brightness(1.5) saturate(150%) invert(30%) sepia(50%) saturate(500%) hue-rotate(90deg);
    transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
}